## BASE DE DATOS

In [1]:
import sqlite3
import pandas as pd

# este comando crea o abre un archivo de base de datos
db_conn = sqlite3.connect('productos_solla.db')

# crear cursor
cursos_db = db_conn.cursor()

In [9]:
# crear tablas
cursos_db.execute(
    """
    CREATE TABLE IF NOT EXISTS productos (
        id INTEGER PRIMARY KEY,
        descripcion TEXT NOT NULL UNIQUE,
        valor FLOAT NOT NULL,
        und_empaques INTEGER NOT NULL,
        color TEXT,
        linea TEXT,
        codigo INTEGER
    )
    """
)

In [10]:
# Insertar datos en tablas
cursos_db.execute(
    """
    INSERT INTO productos (descripcion, valor, und_empaques, color, linea, codigo) 
    VALUES 
    ('NutreCan', 15000, 100, 'Negro', 'Balanceados', 758423619),
    ('CuidaCat', 20000, 50, 'Marron', 'Balanceados', 752146325),
    ('Conejos', 30000, 50, 'Blanco', 'Balanceados', 759846512),
    ('Chanchitos', 28000, 80, 'Verde', 'Balanceados', 754136985),
    ('Cachorros', 35000, 180, 'Azul', 'Balanceados', 751236985)
    """
)

In [11]:
nombre_tabla = 'productos'

consulta = f"PRAGMA table_info({nombre_tabla})"

estructura_tabla = pd.read_sql_query(consulta, db_conn)

print(estructura_tabla)

   cid          name     type  notnull dflt_value  pk
0    0            id  INTEGER        0       None   1
1    1   descripcion     TEXT        1       None   0
2    2         valor    FLOAT        1       None   0
3    3  und_empaques  INTEGER        1       None   0
4    4         color     TEXT        0       None   0
5    5         linea     TEXT        0       None   0
6    6        codigo  INTEGER        0       None   0

In [18]:
# Seleccionar datos de una tabla
cursos_db.execute(
    "SELECT * FROM productos"
)

datos_productos = cursos_db.fetchall()

for fila in datos_productos:
    print(fila)

(1, 'NutreCan', 15000.0, 100, 'NEGRO', 'Balanceados', 758423619)
(2, 'CuidaCat', 20000.0, 50, 'Marron', 'Balanceados', 752146325)
(3, 'Conejos', 30000.0, 50, 'Blanco', 'Balanceados', 759846512)
(4, 'Chanchitos', 28000.0, 80, 'Verde', 'Balanceados', 754136985)
(5, 'Cachorros', 35000.0, 180, 'Azul', 'Balanceados', 751236985)

In [17]:
# Actualizar datos de una tabla
cursos_db.execute(
    """
    UPDATE productos
    SET color = "NEGRO"
    WHERE id = 1;
    """
)

In [7]:
# Borrar una tabla

cursos_db.execute(
    """
    DROP TABLE IF EXISTS productos
    """
)

In [33]:
db_conn.close()